.neon-link {
    position: relative;
    display: inline-block   ;
    flex-direction: row;
    padding: 10px;
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 0 0 10px #40c00d;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin: 20px;
  } 

  .neon-link:before {
    left: 0;
    top: 0;
  }
  
  .neon-link:after {
    right: 0;
    bottom: 0;
  }
  
  .neon-link:hover:before,
  .neon-link:hover:after {
    width: 100%;
    opacity: 1;
  }
  
  @keyframes neon-blink {
    0%,
    100% {
      text-shadow: 0 0 5px #b11db1, 0 0 10px #b11db1, 0 0 20px #b11db1, 0 0 30px #b11db1;
    }
    50% {
      text-shadow: none ;
    }
  }
  
  .neon-link:hover {
    animation: neon-blink 1s infinite;
  }
  